.container {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: row;
   
   
}


.buttonDel {
margin: 10px;
border-color: gray;
border-color: grey;
   
  }